<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tool.xljbearsoft.bilibili</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>104EC6D4-FA11-49CD-8D4B-5184C17E440A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45BC0E3C-0C6C-4F04-9D59-1461CD8EAAEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>309DDB3C-6668-4DA7-8FDA-649C2BF8C91E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52675A35-4EDA-4801-B235-D7F816749124</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>338ECF0F-CEF5-486A-B9BE-4B64EBC8367D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95619D79-33ED-4353-9C25-6EF707ABA774</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39242EEE-20F5-4CC0-9B5C-0C9A88C17A33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95619D79-33ED-4353-9C25-6EF707ABA774</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40BF16CD-4586-49CE-BD3A-999DF00C3D02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B4F7B73-18BF-4180-AADE-A7F144054D14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>437F37C7-6B5E-431C-8D9B-5CF614D74FC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52675A35-4EDA-4801-B235-D7F816749124</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52675A35-4EDA-4801-B235-D7F816749124</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>104EC6D4-FA11-49CD-8D4B-5184C17E440A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B6DFE084-8D68-4420-A6F1-3D42CBC7BE61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63AE050B-9CC3-4F4C-965E-E680D3472077</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>39242EEE-20F5-4CC0-9B5C-0C9A88C17A33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>74CDC136-14BB-4D03-82B4-6E3DFEAD05DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CA01C2A-2BEA-413D-B697-7B476C878812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>338ECF0F-CEF5-486A-B9BE-4B64EBC8367D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63AE050B-9CC3-4F4C-965E-E680D3472077</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45BC0E3C-0C6C-4F04-9D59-1461CD8EAAEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65593466-8C22-4211-9357-35C2BB44E97B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52675A35-4EDA-4801-B235-D7F816749124</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74CDC136-14BB-4D03-82B4-6E3DFEAD05DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95619D79-33ED-4353-9C25-6EF707ABA774</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CA01C2A-2BEA-413D-B697-7B476C878812</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95619D79-33ED-4353-9C25-6EF707ABA774</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6DFE084-8D68-4420-A6F1-3D42CBC7BE61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45BC0E3C-0C6C-4F04-9D59-1461CD8EAAEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9AD62AC-D269-4A3A-AE96-499F87A84231</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40BF16CD-4586-49CE-BD3A-999DF00C3D02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>65593466-8C22-4211-9357-35C2BB44E97B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>437F37C7-6B5E-431C-8D9B-5CF614D74FC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>XljBearSoft</string>
	<key>description</key>
	<string>Workflow下的Bilibili搜索小工具。</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BiliBili</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3B4F7B73-18BF-4180-AADE-A7F144054D14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open_search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>40BF16CD-4586-49CE-BD3A-999DF00C3D02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open_live</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>104EC6D4-FA11-49CD-8D4B-5184C17E440A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>45BC0E3C-0C6C-4F04-9D59-1461CD8EAAEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>bili</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在获取建议中(〜￣△￣)〜</string>
				<key>script</key>
				<string>require_once('Keyword.php');echo suggest("{query}");
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>BiliBili</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B9AD62AC-D269-4A3A-AE96-499F87A84231</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open_result</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B6DFE084-8D68-4420-A6F1-3D42CBC7BE61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>65593466-8C22-4211-9357-35C2BB44E97B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open_author</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>63AE050B-9CC3-4F4C-965E-E680D3472077</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在拼命载入视频信息ε=ε=(ノ≧∇≦)ノ</string>
				<key>script</key>
				<string>require_once('Search.php');echo search("{query}");
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>稍微等等哦！</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>52675A35-4EDA-4801-B235-D7F816749124</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>next_page</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>39242EEE-20F5-4CC0-9B5C-0C9A88C17A33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search_no_pic</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>437F37C7-6B5E-431C-8D9B-5CF614D74FC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>nextPageCall</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>95619D79-33ED-4353-9C25-6EF707ABA774</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>next_page_no_pic</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>74CDC136-14BB-4D03-82B4-6E3DFEAD05DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>nextPageCall</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>309DDB3C-6668-4DA7-8FDA-649C2BF8C91E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>prev_page</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8CA01C2A-2BEA-413D-B697-7B476C878812</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>prev_page_no_pic</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>338ECF0F-CEF5-486A-B9BE-4B64EBC8367D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Workflow下的Bilibili搜索小工具。

By : XljBearSoft</string>
	<key>uidata</key>
	<dict>
		<key>104EC6D4-FA11-49CD-8D4B-5184C17E440A</key>
		<dict>
			<key>note</key>
			<string>Open Live</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>309DDB3C-6668-4DA7-8FDA-649C2BF8C91E</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>338ECF0F-CEF5-486A-B9BE-4B64EBC8367D</key>
		<dict>
			<key>note</key>
			<string>Prev Page No Pic</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>39242EEE-20F5-4CC0-9B5C-0C9A88C17A33</key>
		<dict>
			<key>note</key>
			<string>Next Page</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>3B4F7B73-18BF-4180-AADE-A7F144054D14</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>40BF16CD-4586-49CE-BD3A-999DF00C3D02</key>
		<dict>
			<key>note</key>
			<string>Open Search</string>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>437F37C7-6B5E-431C-8D9B-5CF614D74FC8</key>
		<dict>
			<key>note</key>
			<string>No Pic Search</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>45BC0E3C-0C6C-4F04-9D59-1461CD8EAAEA</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>52675A35-4EDA-4801-B235-D7F816749124</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>63AE050B-9CC3-4F4C-965E-E680D3472077</key>
		<dict>
			<key>note</key>
			<string>Open Author</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>65593466-8C22-4211-9357-35C2BB44E97B</key>
		<dict>
			<key>note</key>
			<string>Search</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>74CDC136-14BB-4D03-82B4-6E3DFEAD05DF</key>
		<dict>
			<key>note</key>
			<string>Next Page No Pic</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>8CA01C2A-2BEA-413D-B697-7B476C878812</key>
		<dict>
			<key>note</key>
			<string>Prev Page</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>95619D79-33ED-4353-9C25-6EF707ABA774</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>B6DFE084-8D68-4420-A6F1-3D42CBC7BE61</key>
		<dict>
			<key>note</key>
			<string>Open Result</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>B9AD62AC-D269-4A3A-AE96-499F87A84231</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
